<div class="jumbotron">
  <h1>Welcome to my app!</h1> 
  <p>Sign up here.</p>
  </p><em><strong>Click here</strong></em> to <%= link_to "Sign up", "http://facebook.com", class: "btn btn-primary" %></p>
</div>
