<div class="jumbotron center">
  <h1>Welcome to my app!</h1> 
  <% if user_signed_in? %>
  # do something
  <% else %>
    <p><em><strong>Click here</strong></em> to <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %></p>
    <p><em><strong>Already have an account? </strong><em><%= link_to "Login",new_user_session_path, class: "btn btn-primary" %></p>
  <%end %>


</div>
